{% extends 'base/base.html' %}
{% load static%}
{% block content %}


{% include 'base/partials/_topbar.html' %}
<main>
    {% if user.is_authenticated %}
        <div class="view feed">
    
    {% include 'base/partials/_sidenav.html' %}
    
      <div class="main-col">
        {% include 'base/partials/_alerts.html' %}

        <div class="view-content">
            <form class="new-post-form " method = "POST" action = "{% url 'new_post' %}">
              {% csrf_token %}
                <div class="inputs">
                    <a href="{% url 'profile'}" class="avatar-container small">
                    <img src="{{ profile.avatar.url }}" class="avatar small">
                    </a>

                    <textarea name ="value" placeholder="Write a post" style="border-color: hsla(208, 97%, 75%, 1); height: 35px;"></textarea>
                    <input type="hidden" name="user_id_js" value="{{ request.user.id }}">{{ request.user.id }}
                    
                </div>

                <div class="actions editing">
                    
                    <span class="char-count"></span>
                    <button type = "submit" class = "btn new-post"> Submit Post </button>
                    
                </div>
             </form>
        </div>

        <div class="feed">
      
      {% for jit in jits %}
          {% include 'base/partials/_jits.html' %}
    {% endfor %}
    
     <!-- <div class="feed-item post">
      <a href="/user/dat://79cf659a6fa412e4003f15557be6e05d2f832c29c0c41566aeef22557c6c6519" class="avatar-container ">
      <img src="dat://79cf659a6fa412e4003f15557be6e05d2f832c29c0c41566aeef22557c6c6519/avatar.png" class="avatar ">
    </a>
      <div class="post-content">
        <div class="post-header">
          <div>
            <a href="/user/dat://79cf659a6fa412e4003f15557be6e05d2f832c29c0c41566aeef22557c6c6519" class="name">
      Jake Thompson
    </a>
            <span class="timestamp">
              <span class="bullet">•</span>
              <a href="/thread/dat://79cf659a6fa412e4003f15557be6e05d2f832c29c0c41566aeef22557c6c6519/posts/0jtviaekp.json" class="value">3m ago</a>
            </span>
          </div>

          
        </div>

        <p class="text">
          my first freet
        </p>
      </div>

      <div class="post-actions">
      <div class="action reply">
        <span class="replies-icon">
          <svg class="icon replies" width="96px" height="94px" viewBox="0 0 96 94" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#replies-icon-svg"></use></svg>
        </span>

        
      </div>

      <div class="action vote ">
        <span class="vote-icon ">
          <svg class="icon heart" width="98px" height="93px" viewBox="0 0 98 93" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#heart-icon-svg"></use></svg>
        </span>

        <span class="count">
          
        </span>
      </div>
    </div>
    </div>-->
    <!--  <button class="show-posts-btn load-more">
            Load more posts
          </button>-->
    </div>
      </div>
      {% else %}
      <p>Login to view your jitters</p>
      {% endif %}

    </div>
      </main>

      <style>body{--theme-color: hsla(208, 97%, 54%, 1)}</style>
      <style>body{--primary-btn-hover: hsla(208, 97%, 48%, 1)}</style>
      <style>body{--theme-color-faded: hsla(208, 97%, 97%, 1)}</style>
      <style>body{--theme-color-box-shadow: hsla(208, 97%, 85%, 1)}</style>
      <style>body{--theme-color-border: hsla(208, 97%, 75%, 1)}</style>
      <style>body{--theme-color-hover: hsla(208, 97%, 99%, 1)}</style>
      <input id="profile-url" type="text" value="dat://79cf659a6fa412e4003f15557be6e05d2f832c29c0c41566aeef22557c6c6519">
    </div>
    

{% endblock %}


