{% extends 'base/base.html' %}
{% load humanize %}
{% block content %}

{% include 'base/partials/_topbar.html' %}
<main>
<div class="view feed">
        {% include 'base/partials/_sidenav.html' %}
        
        <div class="main-col">
            <form class="new-post-form " method = "POST" action = "{% url 'new_post' %}" style="display: none;">
                {% csrf_token %}
                  <div class="inputs">
                      <a href="{% url 'profile'}" class="avatar-container small">
                      <img src="{{ profile.avatar.url }}" class="avatar small">
                      </a>
  
                      <textarea name ="value" placeholder="Write a post" style="border-color: hsla(208, 97%, 75%, 1); height: 35px;"></textarea>
                      <input type="hidden" name="user_id_js" value="{{ request.user.id }}">{{ request.user.id }}
                      
                  </div>
  
                  <div class="actions editing">
                      
                      <span class="char-count"></span>
                      <button type = "submit" class = "btn new-post"> Submit Post </button>
                      
                  </div>
               </form>
          <div class="profile-header">
        <div class="nav-link active">
          <div class="label">Posts</div>
          <div class="value">{{posts}}</div>
        </div>
  
        <div class="nav-link ">
          <div class="label">Following</div>
          <div class="value">0</div>
        </div>
      </div>
  
        <div class="view-content">
            
          </div>
          {% if jits %}
          
          
          
            <div class="feed">
            {% for jit in jits %}
            {% include 'base/partials/_jits.html' %}
          {% endfor %}
          {% else %}
          <p> You don't have any jits.</p>
          
          {% endif %}

        </div>
</main>
{% endblock %}