{% extends 'base/base.html' %}
{% load humanize %}
{% block content %}

{% include 'base/partials/_topbar.html' %}
<main>
<div class="view feed">
        {% include 'base/partials/_sidenav.html' %}
        
        <div class="main-col">
          <div class="profile-header">
        <div class="nav-link active">
          <div class="label">Posts</div>
          <div class="value">{{posts}}</div>
        </div>
  
        <div class="nav-link ">
          <div class="label">Following</div>
          <div class="value">0</div>
        </div>
      </div>
  
        <div class="view-content">
            
          </div>
          {% if jits %}
          
          
          
            <div class="feed">
            {% for jit in jits %}
            {% include 'base/partials/_jits.html' %}
          {% endfor %}
          {% else %}
          <p> You don't have any jits.</p>
          
          {% endif %}

        </div>
</main>
{% endblock %}